html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #272727;
  user-select: none;
  touch-action: none;
  margin-bottom: 120px;
  /* Scrollbar for Firefox */
  scrollbar-width: thin;
  scrollbar-color: #bbb transparent;
  font-family: 'Inter', sans-serif;
}

/* Scrollbar for Chrome, Edge, Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px 0;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
